[Desktop Entry]
Type=Application
Name=cxviz feed
Comment=cxviz feed
Exec=/home/augusto/Documents/cxviz/cxviz feed
Icon=/home/augusto/Documents/cxviz/icon.png
Terminal=true
